{% extends "store/base.html" %}
{% block body_block %}
<div class="container mt-4">
    <h2>Tài khoản của tôi</h2>
        {% if user.is_authenticated %}
            <li class="user-auth">
                <i class="fa fa-user-circle-o"></i> {{ user.username }}
                <form method="POST" action="{% url 'store:logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link p-0 m-0" style="color:inherit; cursor:pointer;">
                        <i class="ti-power-off"></i> Đăng xuất
                    </button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'store:login' %}"><i class="fa fa-user-circle-o"></i> Đăng nhập</a></li>
        {% endif %}
    </div>
{% endblock %}
