{% extends "store/base.html" %}
{% load static %}
{% block body_block %}
<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="cat-nav-head">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="menu-area">
						<!-- Main Menu -->
						<nav class="navbar navbar-expand-lg">
							<div class="navbar-collapse">
								<div class="nav-inner">
									<ul class="nav main-menu menu navbar-nav">
										<li><a href="{% url 'store:index.html'%}">Home</a></li>
										<li><a href="{% url 'store:shop.html' 0%}">Shop<i
													class="ti-angle-down"></i><span class="new">New</span></a>
											<ul class="dropdown">
												<li><a href="{% url 'store:shop.html' 0%}">Cửa hàng</a></li>
												<li><a href="{% url 'cart:cart_detail'%}">Giỏ hàng</a></li>												
											</ul>
										</li>
										<li><a href="{% url 'store:contact.html'%}">Liên hệ</a></li>
										<li><a href="{% url 'store:rss.html'%}">RSS</a></li>
										<li><a href="{% url 'store:products.html'%}">Products</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<!--/ End Main Menu -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->
</header>
<!--/ End Header -->
<!-- Start Checkout -->
<section class="shop checkout section">
	<div class="container">
		<form class="form" method="POST" action="{% url 'khach-hang:dat-hang.html'%}">
		<div class="row">
			<!-- Form -->
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Thông tin khách hàng</h2>
					<p>Vui lòng đăng ký tài khoản tại <a href="{% url 'khach-hang:dang-ky.html'%}">
						<b>Sign in</b></a> để việc đặt hàng nhanh chóng và dễ dàng hơn</p>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Họ tên</label>
								{{fullname}}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Email</label>
								{{email}}
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<div class="form-group">
								<label>Số điện thoại</label>
								{{phone}}
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Địa chỉ giao hàng<span>*</span></label>
								<input type="text" name="diachigiaohang" class="form-control" value="{{diachigiaohang}}">
							</div>
						</div>	
					</div>					
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>THÔNG TIN GIỎ HÀNG</h2>
						<div class="content">
							<ul>
								{% for item in cart %}
								<li>
									{{ item.quantity }}x {{ item.product.name }}
									<span>{% load humanize %}{{item.total_price|floatformat:0|intcomma}} đ</span>
								</li>
								{% endfor %}
							</ul>
							<ul>
								<li>
									<hr />
								</li>
								<li>Tạm tính<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
								<li>(+) Giao hàng<span>0 đ</span></li>
								<li class="last">Tổng đơn hàng<span>{% load humanize %}{{cart.get_total_price|floatformat:0|intcomma}} đ</span></li>
							</ul>
						</div>
					</div>
					<!--/ End Order Widget -->
					<!-- Button Widget -->
					<div class="single-widget get-button">
						<div class="content">
							<div class="button">
								<button type="submit" class="btn ">Đặt hàng</button>
                                    {% csrf_token %}
							</div>
						</div>
					</div>
					<!--/ End Button Widget -->
				</div>
			</div>
		</div>		
		</form>
		<!--/ End Form -->
	</div>
</section>
<!--/ End Checkout -->

{% endblock %}